<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.zerodreamcat.zako.flash">
	
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <queries>
        <package android:name="com.topjohnwu.magisk" />
    </queries>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:fullBackupOnly="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:label="ZakoFlash"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault.DayNight"
        android:zygotePreloadName="io.zerodreamcat.zako.flash.AppZygote">
        <service
            android:name=".ZakoService"
            android:isolatedProcess="true"
            android:useAppZygote="true" />

        <service android:name=".CommandExecuteService" />

        <receiver
            android:name=".CommandReceiver"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="io.zerodreamcat.zako.flash.action.EXEC" />
            </intent-filter>
        </receiver>

		<service android:name=".CommandExecuteService" android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
